@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>

<h1>Dinoco<span><h3>Gasoline where even the dinosaurs would be jealous.</h3></span></h1>

<div class="row">
        <div class="col-md-6">
            <p>Dinoco is an industry leader in applying technology and innovation to responsibly develop USA’s energy resources.
               As USA’s largest petroleum refiner, a major producer of crude oil and natural gas, a key petrochemical producer
               and a leading fuels marketer from coast to coast, our company is committed to high standards across all areas of our business.
               For more than a century, we have been helping Americans get where they need to go and we hope 
               to continue to be part of your journey for years to come. 
        
               Also, Dinoco is run by Tex Dinoco that sponsors the Piston Cup and is the main sponsor of 
               Strip "The King" Weathers. Every Piston Cup racecar covets the Dinoco sponsorship. 
           </p>
        </div>
        <div class="col-md-6">
               <span><img src="/gas_station.PNG" alt="User Photo" /></span>
        </div>
    </div> 


@code{
    private bool isOn = false;

    protected async override Task OnInitializedAsync()
    {
        isOn = Convert.ToBoolean(await jsRuntime.InvokeAsync<string>("localStorage.getItem", "isAuth"));
        if(!isOn)
            navManager.NavigateTo("/login", true);
    }
}