@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private bool isOn = false;

    protected async override Task OnInitializedAsync()
    {
        isOn = Convert.ToBoolean(await jsRuntime.InvokeAsync<string>("localStorage.getItem", "isAuth"));
        if(!isOn)
            navManager.NavigateTo("/login", true);
    }
}